<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNa">
	<div class="container">
	  <a class="navbar-brand" href="/">Surprise Box</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownThemes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Каталог</a>
				<div class="dropdown-menu" aria-labelledby="dropdownThemes">
					<a class="dropdown-item" href="/template-categories/all">
						<i class="fal fa-browser fa-fw">

						</i>
						Все подарки</a>
						<a class="dropdown-item" href="/template-categories/popular">
						<i class="fal fa-star fa-fw"></i>
						Акции</a>
						<a class="dropdown-item" href="/buy-bootstrap-templates">
						<i class="fal fa-shopping-basket fa-fw"></i>
						Подобрать подарок</a>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/information" title="Bootstrap Code Snippets">Оплата и доставка</a>
			</li>


			<li class="nav-item">
				<a class="nav-link" href="/articles" title="Start Bootstrap News, Guides, and Tutorials">Контакты</a>
			</li>


	    </ul>

		<ul class="navbar-nav">

			<li class="nav-item mr-3">
				<a class="nav-link" style="position: relative;" href="https://shop.startbootstrap.com/" onclick="ga('send','event','Product', 'click', 'SB Shop Navbar Link')">
				<img id="shop" src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/11001410572/original/shopping109.png?1455021247">
					<span> Корзина</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal" onclick="ga('send','event','Action','Open Search Modal')">
				    <i class="fal fa-search"></i>
					<span class="d-lg-none">Search</span>
				</a>
			</li>

			<li class="nav-item">
			  <a class="nav-link" href="https://twitter.com/sbootstrap">
			    <i class="fab fa-twitter"></i>
			  </a>
			</li>

			<li class="nav-item">
			  <a class="nav-link" href="https://github.com/blackrockdigital">
			    <i class="fab fa-github"></i>
			  </a>
			</li>

			<li class="nav-item">
			  <a class="nav-link" href="https://startbootstrap-slack.herokuapp.com/">
			    <i class="fab fa-slack"></i>
			  </a>
			</li>
		</ul>
	</div>
  </div>
</nav>